.home-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background-color: #fafafa;
}
.pointer {
  cursor: pointer;
}

@media (max-width:600px)  { 
  .filter, .sort {
    width: 100% !important;
  }

  .sort {
    margin-top: 4% !important;
  }

  .filter-container {
    width: 100% !important;
    padding-top: 0 !important;
  }

  .add-question{
    width: 100vw !important;
  }

  .add-question-btn{
    width: 100% !important;
  }
}